<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BSPBuilder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BSPBuilder.Properties.Settings>
            <setting name="AnimFormPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MaterialFormPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ShaderListPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TechniqueListPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TextureFormPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainWindowPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainFormPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </BSPBuilder.Properties.Settings>
    </userSettings>
</configuration>