<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BSPBuilder.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BSPBuilder.Settings>
            <setting name="MainWindowPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainFormPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MaterialFormPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ShaderListFormPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TextureListFormPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="CollisionFormPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </BSPBuilder.Settings>
    </userSettings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IMapVis"
          closeTimeout="01:01:00"
          openTimeout="00:00:05"
          receiveTimeout="01:10:00"
          sendTimeout="01:01:00"
          bypassProxyOnLocal="false"
          transactionFlow="false"
          hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647"
          messageEncoding="Text"
          textEncoding="utf-8"
          useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="2147483647"
            maxStringContentLength="2147483647"
            maxArrayLength="2147483647"
            maxBytesPerRead="2147483647"
            maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true"
            inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows"
              proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows"
              negotiateServiceCredential="true"
              algorithmSuite="Default"
              establishSecurityContext="true" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8000/ServiceModelSamples/Service/MapVisService"
        binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IMapVis"
        contract="IMapVis"
        name="WSHttpBinding_IMapVis">
        <identity>
          <userPrincipalName value="user@contoso.com" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>